# Funções com e sem parametros

Funções são unidades de códigos que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar algum resultado.

In [1]:
#sem parametros
#media 

def media():
  valor = (5 + 5 + 5 + 5) / 4
  print(valor)
media()

5.0

#

In [2]:
#com parametros
#media

def media(number_1, number_2, numer_3, number_4):
  valor = (number_1 + number_2 + numer_3 + number_4) / 4
  print(valor)
media(10, 5, 10, 5)

7.5

In [3]:
#com lista
#media

def media(lista):
  valor = sum(lista) / len(lista)
  print(valor)
media([10, 5, 10, 5])

7.5

# EXERCÍCIO

km_media = km_total / (ano_atual - ano_fabricacao)

In [4]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [5]:
ano_atual = 2019
for item in dados.items():
  print(item[1]['km'] / (ano_atual - item[1]['ano']))

2500.0
4250.0
3250.0
7000.0
3100.0

In [9]:
def media_2(dados, ano_atual):
  for item in dados.items():
    resultado = item[1]['km'] / (ano_atual - item[1]['ano'])
    print(resultado)

media_2(dados, ano_atual)

2500.0
4250.0
3250.0
7000.0
3100.0